<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @interview.name %>
</p>

<p>
  <b>Applicants:</b>
<ol>
<% for applicant in @interview.applicants %>
 <li><%= applicant.name %></li>
  <% end %>
</ol>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
